@{
    ViewData["SubTitle"] = "Menu Inicial";
}

<h2 class="titulo">@ViewBag.SubTitle</h2>
<hr />

<div class="row">
    <div class="col-4 text-center card bg-light p-5 m-2">
        <p class="text-center p-3">Visualizar Lista Clientes</p>
        <a asp-controller="Home" asp-action="ListaClientes" class="btn btn-primary">Lista de clientes</a>
    </div>

    <div class="col-4 text-center card bg-light p-5 m-2">
        <p class="text-center p-3">Adicionar novos clientes</p>
        <a asp-controller="Home" asp-action="AdicionaCliente" class="btn btn-primary">Adicionar clientes</a>
    </div>
</div>
